# Игнорировать файл .env
.env

# Игнорировать виртуальное окружение
venv/
.env/
env/

# Игнорировать файлы базы данных SQLite
*.sqlite3
*.db

# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Игнорировать статические файлы (если они генерируются автоматически)
staticfiles/

# Игнорировать медиафайлы (если они генерируются автоматически)
media/

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать логи
*.log